{% extends 'tables\login.html' %}
<html>
<head>
	<title>Dealer Address</title>
</head>
{% block content %}
<body>
	<h1 style="color: white;font-family: courier">Dealer Address</h1>
	<table width = "100%" border = "1">
		<tr style="background-color: gray">
			<th>zipcode</th>
			<th>city</th>
			<th>state</th>
			<th>DL_ID</th>
		</tr>
		{% for items in query_result %}
		<tr>
			<td>{{ items.zipcode }}</td>
			<td>{{ items.city }}</td>
			<td>{{ items.state }}</td>
			<td>{{ items.DL_ID }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
{% endblock %}
</html>